[Unit]
Description=Remove lf Openvas report service
After=multi-user.target
[Service]
Type=exec
WorkingDirectory=/home/ansadmin/
User=ansadmin
ExecStart=/usr/bin/python3 /home/ansadmin/removelf.py
Restart=always
[Install]
WantedBy=multi-user.target
